@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to my MVC Application!</h1>
<div>
    <p>Name: Aaron Michael M. Angeles</p>
    <p>Course: Bachelor of Science in Information Technology</p>
    <p>Section: 32E3</p>
</div>
